* {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid black;
}

th,
td {
	padding: 20px;
	text-align: center;
}

#pRoomCode {
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	font-size: x-large;
}

#divPlayers {
	font-size: large;
	height: 41px;
	width: 260px;
	border: 1px solid black;
}

#divChatHistory {
	border: 1px solid black;
	height: 300px;
	width: 260px;
}

#inputMessage {
	width: 254px;
}