* {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table, td {
	padding: 20px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

#pRoomCode {
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	font-size: x-large;
}

#divPlayers {
	font-size: large;
	height: 41px;
	width: 260px;
	border: 1px solid black;
}

#divChatHistory {
	border: 1px solid black;
	height: 130px;
	width: 260px;
	overflow: auto;
}

#inputMessage {
	width: 254px;
}

.message {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.message.system {
	color: grey;
}