@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Oswald:wght@300&family=Playpen+Sans:wght@500&family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 1;
    text-size-adjust: none;
    user-select: none;
}

body, html {
    width: 100%;
    height: 100%;
    border: none;
}

#title > h1 {
	font-family: 'Playpen Sans', cursive;
	font-size: 6vh;
}

body {
	display: flex;
	flex-direction: row;
	background-color: cornflowerblue;
}

button {
	margin: 2px;
}

table,
td {

	padding: 5px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

td:hover {
	cursor: pointer;
}

#inputJoinGame, #selCategoryList, #inputTries, #inputName, #cbPublic {
	margin-left: 3px;
}

#inputUsername, #inputEmail, #inputPassword, #inputNewPassword, #inputConfirmPassword {
	margin-right: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	flex: 1 0 auto;
}

#title {
    align-items: flex-end;
	color: white;
}

#screen {
	width: 90%;
	height: 75%;
	padding: 2rem;
	background-color: white;
	box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	margin-inline: auto;
}

#divLeaderboard {
	height: 34rem;
	overflow: auto;
	scroll-behavior: smooth;
	pointer-events: none;
}

#divLeaderboard > table > tr > td {
	font-size: 2svh;
}


#divMatchHistory {
	width: fit-content;
	height: 30rem;
	overflow: auto;
	scroll-behavior: smooth;
}

#pRoomCode {
	user-select: text;
	font-size: x-large;
}

#divPlayers {
	font-size: large;
	border: 1px solid black;
}

#divPlayers > .player {
	font-size: 2svh;
}

#divChatHistory {
	border: 1px solid black;
	overflow: auto;
	scroll-behavior: smooth;
}

#divItems {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	overflow: auto;
}

#divItems .item {
	padding: 5px;
}

.spanProfile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	block-size: fit-content;
}


#btnLeaderboard, #btnCategoryEditor, #btnNewGame, #btnJoinGame, #btnLogout{
	background-color: white;
	border: none;
	color: black;
	font-family: "Open-Sans", sans-serif;
	font-size: 1.3em;
}


.divStats {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.divStats > span{
	margin-right: 2%;
}




.divPictureModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 2%;
}

.imgPicture {
	border-radius: 50%;
}

.imgPictureModal {
	border-radius: 50%;
	border: 3px solid;
	width: 100px;
}

.imgPicture.menu {
	border: 3px solid;
	width: 100px;
}

.imgPicture.match {
	border: 2px solid;
	width: 50px;
}

.pUsername {
	text-align: center;
}

.pUsername.menu {
	font-size: 20px;
}

.pUsername.match {
	font-size: 15px;
	margin: 0;
}

.spanError {
	color: red;
}

.vs {
	font-weight: bold;
	font-size: large;
}

.itemName, .itemPicture {
	margin-bottom: 5px;
}

.divPlayersMatch {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.divLeaderboardUser, .divMatch {
	display: flex;
	align-items: center;
	border: 1px solid black;
}

.divLeaderboardUser {
	flex-direction: row;
}

.divMatch {
	flex-direction: column;
}

.itemName {
	width: 170px;
}

.itemPicture {
	width: 170px;
}

.chat.message {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.chat.message.system {
	color: grey;
}

.clickable {
	color: black;
}

.clickable:hover {
	color: grey;
	cursor: pointer;
}

.span.user:hover {
	cursor: pointer;
}

.picture {
	width: 36px;
	height: 36px;
	object-fit: cover;
}

#divLogin, #divRegister, #divAccountRecovery{
	text-align: center;
	margin: auto;
}

#divRegister > h1, #divLogin > h1, #divAccountRecovery > h1{
	font-family: "Roboto", sans-serif;
}


#loginUser > input, #loginPass > input, #registerUser > input, #registerEmail > input, #registerPW > input, #registerConfirmPW > input, #recoveryEmail > input{
	margin-bottom: 2%;
	width: 50%;
	height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#loginUser > label, #loginPass > label, #registerUser > label, #registerEmail > label, #registerPW > label, #registerConfirmPW > label, #recoveryEmail > label{
	margin-bottom: 2%;
	margin-top: 2%;
}

#loginButton, #btnRegister, #btnSend{
	margin-top: 2%;
}

#btnStart, #btnLeave, #btnGuess {
	margin-bottom: 2%;
	border-radius: 20px;
}


table {
	table-layout: fixed;
	width: 100%;
}






@media only screen and (max-width: 600px){
	#title > h1 {
		font-size: 5vh;
	}

	#divLobby{
		margin-bottom: 2%;
	}

	.characterName{
		font-size: 1.2svh;
	}

	#divPlayers > .player {
		font-size: 1.5svh;
	}

}


@media only screen and (max-width: 425px){
	#title > h1 {
		font-size: 3svh;
	}

	#loginUser > input, #loginPass > input, #registerUser > input, #registerEmail > input, #registerPW > input, #registerConfirmPW > input{
		width: 100%;
	}

	#btnRegister, #btnLogin{
		width: 10svh;
	}

}

@media only screen and (max-width: 470px){
	#screen {
		width: 402px;
		height: 722px;

	}

	#divLobby{
		width: 337px;
		height: 307px;
	}

	#divGame{
		width: 337px;
		height: 449px;
	}
}

@media only screen and (width < 768px){
	#divLeaderboard > table > tr > td {
		font-size: 1.2svh;
	}
	#divLeaderboard > table > tr > th {
		font-size: 1.3svh;
	}
}